aside.l-aside {
  position: fixed;
  height: 100%;
  width: 100px;
  top: 0;
  left: -100px;
  background-color: #fff;
  box-shadow: 0 0 20px #000;
  transition: left .5s ease;
  z-index: 10; }
  aside.l-aside .sidebar-btn {
    position: absolute;
    top: 50px;
    right: -50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    letter-spacing: 5px;
    border-radius: 50px;
    background-color: #000;
    box-shadow: 0 0 20px #000;
    z-index: 11;
    font-size: 14px;
    transform: rotate(90deg);
    transition: transform 1s ease .5s; }
    aside.l-aside .sidebar-btn p {
      padding: 0;
      margin: 0;
      transform: translateY(-15px);
      transition: transform .5s ease; }
  aside.l-aside:hover {
    left: 0; }
    aside.l-aside:hover .sidebar-btn {
      transform: rotate(0); }
      aside.l-aside:hover .sidebar-btn p {
        transform: translateY(0); }
  aside.l-aside .navbar {
    position: relative;
    margin-top: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column; }
    aside.l-aside .navbar li a {
      display: block;
      height: 100px;
      padding: 20px;
      padding-top: 30px;
      transform: rotate(90deg);
      box-sizing: border-box;
      color: #000;
      text-shadow: 0 0 2px #818181; }
      aside.l-aside .navbar li a:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: forestgreen;
        transition: height .2s ease-out; }
      aside.l-aside .navbar li a:hover:after {
        height: 4px; }

aside.r-aside {
  display: block;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 999999; }
  aside.r-aside.show {
    display: block; }
  aside.r-aside .box {
    position: relative;
    width: 20px;
    height: 100px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.712);
    border: 1px solid #000;
    box-shadow: 0 0 5px #000; }
    aside.r-aside .box > a {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      font-size: 12px;
      text-align: center; }
      aside.r-aside .box > a > p {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 50%;
        transform: translateY(-50%); }
