</div>
<link rel="stylesheet" href="/css/blog/footer-blog.css">
<footer>
</footer>
<div class="parallax-window" data-parallax="scroll" data-image-src="/images/blog_bg.jpg"></div>
<div class="back-to-top" id="back_to_top"></div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/parallax.js/1.5.0/parallax.min.js"></script>
<script src="/js/blog/footer.js"></script>

</html>