<link rel="stylesheet" href="/css/blog/aside.css">
<aside>
  <a href="##" class="sidebar-btn">
    <p>YANSK</p>
  </a>
  <ul class="navbar">
    <li>
      <a href="/blog">首页</a>
    </li>
    <li>
      <a href="#">HTML</a>
    </li>
    <li>
      <a href="#">CSS</a>
    </li>
    <li>
      <a href="#">Javascript</a>
    </li>
    <li>
      <a href="#">DB</a>
    </li>
  </ul>
</aside>