<link rel="stylesheet" href="/css/blog/aside.css">
<aside class='l-aside'>
  <a href="##" class="sidebar-btn">
    <p>YANSK</p>
  </a>
  <ul class="navbar">
    <li>
      <a href="/blog">首页</a>
    </li>
    <li>
      <a href="#">HTML</a>
    </li>
    <li>
      <a href="#">CSS</a>
    </li>
    <li>
      <a href="#">Javascript</a>
    </li>
    <li>
      <a href="#">DB</a>
    </li>
  </ul>
</aside>
<aside class="r-aside">
  <%if(typeof USER==undefined||USER==null){%>
  <div class="box top-box"><a href="/login">登录</a>
  </div>
  <div class="box top-box"><a href="/reg">注册</a>
  </div>
  <%}else{%>
  <div class="box bottom-box">
  <a href="/logout"><p>退出登录</p></a>
  </div>
  <%}%>
</aside>