<link rel="stylesheet" href="/css/blog/aside.css">
<aside class='l-aside'>
  <a href="javascript:void(0);" class="sidebar-btn ">
    <p>YANSK</p>
  </a>
  <img src="/images/logo.png" class="img-logo" alt="logo">
  <ul class="navbar">
     <li class="aaa ani1">
      <a href="/blog"><span>首页</span></a>
    </li>
    <%if(typeof NAV!='undefined'){%>
        <%for(var i=0;i<NAV.length;i++){%>
          <li>
            <a href="/blog/articlelist?by[type_id]=<%=NAV[i]._id%>">
            <span><%=NAV[i].type_name%></span>
            </a>
          </li>
        <%}%>
      <%}%>
    <li>
      <a href="/iresume"><span>个人简历</span></a>
    </li>
  </ul>
</aside>
